---
// components
import Nav from "@/components/shared/Nav.astro";

// styles
import "./src/styles/global.css";

const { title = "Book Tracking App" } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="max-w-7xl mx-auto grid gap-6">
		<Nav />
		<div class="grid gap-6 px-4">
			<slot />
		</div>
	</body>
</html>
